:root {
  --primary-color: #fac9ca;
  --secondary-color: #6c9068;
  --box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.17);
}
.contact-section a {
  color: var(--secondary-color);
  text-decoration: none;
}
.contact-section a:hover {
  text-decoration: underline;
}
body {
  font-family: "Poppins", sans-serif;
}
footer i {
  font-size: 30px;
}
.about-section h2 {
  color: var(--secondary-color);
}
.button {
  background-color: white;
  box-shadow: var(--box-shadow);
  transition: all 200ms ease-in-out;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 5px;
  color: #212529;
  transition: all 200ms ease-in-out;
}
.button:hover {
  box-shadow: none;
  background-color: var(--secondary-color);
  color: white;
}
.button-pink {
  background-color: var(--primary-color);
  transition: all 200ms ease-in-out;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 5px;
  color: #212529;
  transition: all 200ms ease-in-out;
}
.button-pink:hover {
  background-color: #eb9899;
  color: white;
}
.download-icon {
  font-size: 80px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 100%;
  padding: 30px;
  transition: all 200ms ease-in-out;
}
.download-icon:hover {
  color: #eb9899;
  transform: scale(1.1);
}
.hero {
  background-image: url("/img/hero-leaf.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 550px;
  margin-left: -20px;
}
.hero h1 {
  font-size: 70px;
}
.logo {
  background-image: url("/img/Logo-initials.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  width: 50px;
  height: 80px;
  margin: 0px 50px;
}
.navbar {
  box-shadow: var(--box-shadow);
}
.portfolio-section {
  background-color: var(--secondary-color);
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portrait {
  max-width: 500px;
  min-width: 300px;
  border-radius: 100%;
}
.portfolio-section .row {
  gap: 20px;
}
.sm-icon {
  color: #a1a1a1;
  transition: all 200ms ease-in-out;
}
.sm-icon:hover {
  color: var(--secondary-color);
  font-size: 36px;
}
@media only screen and (max-width: 750px) {
  .about-section p {
    text-align: center;
    margin-top: 20px;
  }
  .hero {
    background-color: var(--primary-color);
    background-image: url("/img/hero-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    height: 300px;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 48px;
  }
  .hero-text h2 {
    font-size: 20px;
  }
  .logo {
    margin: 8px;
  }
  .portfolio-section .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sm-icon {
    font-size: 50px;
  }
  .sm-icon:hover {
    font-size: 50px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
